html {
  font-family: Helvetica;
  font-size: 18px;
}

header {
  background-color: black;
  color: white;
}

.banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.banner .callout {
  background-color: black;
  color: white;
  width: 20rem;
}

nav {
  background-color: firebrick;
  color: white;
  text-align: center;
}

nav li {
  display: inline;
}

.product-grid {
  display: flex;
}

.product {
  border: 4px solid black;
}

.info-grid {
  display: flex;
  justify-content: space-between;
}

.info {
  background-color: black;
  color: white;
  width: 35%;
}

footer {
  background-color: black;
  color: white;
  height: 5rem;
}
